body {
	text-align: center;
	margin: 0px;
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.bottom {
	display: table-row;
	vertical-align: bottom;
	height: 20px;
}

h1, h2, h3, h4, p {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
}

h2 {
	font-size: 1.43em;
}

img {
	max-width: 90%;
}
 
p.status {
	font-style: italic;
	font-size: 1.25em;
	font-weight: bold;
}

p.status {
	text-transform: capitalize;
}
 
div.status-Full {
	background-color: #FF6666;
}

div.status-Open {
	background-color: #99FF99;
}
 
div.status-Unknown {
	background-color: #FFFF99;
}

div#logo {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	max-width: 320px;
}

p.alert {
	font-style: italic;
	font-weight: bold;
	color: #CC0000;
	margin-left: 10px;
	margin-right: 10px;
}

p.last-checked {
	font-style: italic;
}

.last-checked {
	margin-top: 5px;
}

.list-element {
	width: 100%;
	border-bottom: 2px solid #000;
}
.list-label {
	font-size: 3em;
}
.list-left {
	display: inline-block;
	width: 15%;
	vertical-align: middle;
}
.list-right {
	display: inline-block;
	width: 80%;
	vertical-align: middle;
	border-left: 2px solid #000;
	min-height: 4em;
	padding-top: .5em;
}
.status {
	font-size: 1.25em;
}