body {
	text-align: center;
	margin: 0px;
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}
.bottom {
	display: table-row;
	vertical-align: bottom;
	height: 20px;
}
h1, h2, h3, h4, p, a {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
}
h2 {
	font-size: 1.43em;
}
img {
	max-width: 90%;
}
.status {
	font-style: italic;
	font-size: 1.25em;
	font-weight: bold;
	text-transform: capitalize;
}
.status-Full {
	background-color: #FF6666;
}
.status-Open {
	background-color: #99FF99;
}
.status-Unknown {
	background-color: #FFFF99;
}
#logo {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	max-width: 200px;
}
.alert {
	font-style: italic;
	font-weight: bold;
	color: #CC0000;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.last-checked {
	font-style: italic;
	margin-top: 5px;
}
.list-element {
	width: 100%;
	border-bottom: 2px solid #000;
}
.list-label {
	font-size: 3em;
}
.list-left {
	display: inline-block;
	width: 15%;
	vertical-align: middle;
}
.list-right {
	display: inline-block;
	width: 80%;
	vertical-align: middle;
	border-left: 2px solid #000;
	min-height: 4em;
	padding-top: .5em;
}
.button {
    background-color: #7F54A3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
#icon {
    display: inline-block;
    width: 50px;
    vertical-align: top;
    padding-top: 12px;
}
.title {
	display: inline-block;
	padding: 10px;
}
.ad {
	width:320px;
	margin-left:auto;
	margin-right:auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.loading {background-color: grey; width: 100%;}
.progress {height: 30px; margin: 10px;}
.progress-bar {line-height: 30px; font-size: 15px;}

.background-warning {
    background-color: #ffddbb;
}
.background-danger {
    background-color: #ffeedd;
}